{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Accueil{% endblock %}
{% block javascripts %}{{ parent() }}  {{ encore_entry_script_tags('index') }}{% endblock %}

{% block body %}
    <div id="index">

    </div>
{% endblock %}
