{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Panier{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}

{% block body %}
    <div id="basket-validation"></div>
{% endblock %}