{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Panier{% endblock %}
{% block javascripts %}{{ parent() }} {{ encore_entry_script_tags('basket-validation') }}{% endblock %}

{% block body %}
    <div id="basket-validation"></div>
{% endblock %}